---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="flex justify-center items-center h-[30vh]">
    <span class="text-5xl font-bold"> 404 Not Found</span>
  </div>
</Layout>
