---
import Layout from "@/layouts/Layout.astro";
import { ABOUT_TITLE } from "@/constants/titles";
---

<Layout title={ABOUT_TITLE}>
  <h1
    class="text-5xl font-bold mb-10 border-b pb-10 px-4 text-center md:text-left"
  >
    About the project
  </h1>
  <p class="font-medium text-lg tracking-wide leading-9 mb-10 px-4">
    SpaceX, a name synonymous with the pioneering spirit of modern space
    exploration, has transformed the realm of aerospace with its groundbreaking
    technology and visionary ambitions. The SpaceX Launches project is a
    comprehensive chronicle dedicated to tracking the monumental journey of
    SpaceX's rockets as they pierce through the stratosphere and into the
    cosmos. From the early trials to the latest cutting-edge missions, our
    mission is to provide a detailed and engaging history of SpaceX's ventures.
  </p>
  <p class="font-medium text-lg tracking-wide leading-9 mb-10 px-4">
    Our curated content brings to life each SpaceX launch through vivid imagery,
    intricate mission patches, and a trove of information that tells the tale of
    triumphs and trials. The 'Latest Launches' section keeps enthusiasts updated
    with real-time data and insights into the current strides being made by the
    company.
  </p>
  <p class="font-medium text-lg tracking-wide leading-9 mb-10 px-4">
    Venture into the 'Oldest Launches' to witness where it all began - the test
    flights that paved the way for today's achievements. Each entry is not just
    a record but a narrative, capturing the essence of each mission's unique
    objectives, challenges faced, and milestones reached.
  </p>
  <p class="font-medium text-lg tracking-wide leading-9 mb-10 px-4">
    This platform serves as an educational resource, an inspiration for space
    aficionados, and a tribute to the undaunted efforts of SpaceX and its
    contribution to space exploration. Join us as we celebrate each launch and
    the indelible impact it has on our journey to the stars.
  </p>
</Layout>
